// Theme color
$primary-color: var(--primaryColor);
$secondary-color: var(--secondaryColor);
$title-and-left-sidebar-color: var(--titleAndLeftSidebarColor);
$shadesOfPrimaryColor: var(--primaryColorShade2);
$primaryColorShade1: var(--primaryColorShade1);

// Background
$background-primary-color: #edf2f6;
$background-secondary-color: #e3e3e3;

// Event colors
$danger-color: #ff0000;
$warning-color: #fabb3e;
$success-color: #70ce42;
$info-color: #48aafa;
$pending-color: #2198fa;
$fail-color: #fe6c6e;

// Grey shades
$grey-main: #4e4f50;
$grey-main-40: #4e4f5040;
$grey-primary: #adadad;
$grey-secondary: #c5c5c5;
$grey-disabled: #cbcbcb;
$gray-lighter: #e5e7eb;
$gray-light: #e1e6ea;
$gray-100: #f1f1f1;
$gray-200: #f2f2f2;
$gray-300: #e2e4e5;
$gray-400: #f6f8fa;
$gray-500: #9e9f9f;
$gray-600: #f5f8fa;
$gray-700: #7d7d7d66;
$gray-900: #85858529;
$gray-1000: #3939391a;
$border-gray: #e2e2e3;
$gray-hover: #f5f5f5;
$gray-toggle: #dadada;
$gray: #edf2f6;
$gray-2: #b8c2c7;

// black
$black-20: #00000020;
$black-8a: #0000008a;
$black-de: #000000de;
$black-1a: #0000001a;
$black: #000000;
$dark-light: #3d3d3d;
$dark-0a: #0000000a;

// White
$white: #ffffff;

// Purple
$purple: #532189;
$purple-500: #9838ff;

// Green
$green-100: #d4fff7;
$green-200: #27bd68;
$green-300: #38c976;
$green-500: #10b978;
$green-600: #18b290;
$green-700: #02ab86;
$green-800: #0f9b65;
$green-900: #158c85;
$green-1000: #cbeae2;
$green: #095e54;
$dark-green: #043530;

// Yellow
$yellow-200: #f9e595;
$yellow-500: #ffdd00;
$yellow-600: #ff9700;
$yellow-700: #7d5d00;

// Orange
$orange-100: #f7e8d1;
$orange-500: #ff7c07;

// Red
$red-100: #ffd6d6;
$red-300: #f43f5e;
$red-400: #e53654;
$red-500: #ff0000;

// Blue
$blue-100: #d7efff;
$blue-200: #e7ecf2;
$blue-300: #d4e3f5;
$blue-400: #0487ff;
$blue-500: #e1edf7;
$blue-600: #00aaf1;
$blue-700: #0a78be;
$blue-800: #002f51;
$blue-900: #2198fa;
$blue-1000: #141c25;

// Brown
$brown-200: #dbd5d5ba;

$text-color: #66737f;
$font-color: #1d1e3a;
$font-color-gray: #939596;
$hr-color: #e7e7e8;
$hr-color-70: #e7e7e870;
$dark-medium-gray: #f6f7fb;
$lightYellow: #e5ffcc;
$lightYellow-header: #d9f2c2;

// Font colors
$font-color-dark: #4e4f50;
$font-color-light: #707070;
$font-color-darker: #4b4b4b;

//input
$input-border: #00000080;
$input-text: #00000040;
$input-label-color: #858687;

$font-size-xsm: 10px;
$font-size-sm: 12px;
$font-size-md: 14px;
$font-size-lg: 16px;
$font-size-xl: 18px;
$font-size-xxl: 20px;
$font-size-xxxl: 22px;
$font-size-xxxxl: 24px;
$global-border-radius: 4px;
$global-border-radius-lg: 8px;
$global-font-family: "Open Sans";

$bot-bg: #f1f0f0;
$w-540: 540px;
$w-330: 330px;
$w-321: 321px;
$w-250: 250px;
$w-200: 200px;
$w-160: 160px;
$w-131: 131px;
$w-120: 120px;
$w-101: 101px;
$w-100: 100px;
$w-90: 90px;
$w-77: 77px;
$w-75: 75px;
$w-70: 70px;
$w-65: 65px;
$w-50: 50px;
$w-45: 45px;
$w-44: 44px;
$w-25: 25px;

$campaign-text: #66737f;
$graph-font-color: #c6c6c6;
$gray-box-shadow: #d9d9d9;
$grey-border: #d9d9d9;
$disable-account-bg: #fff2f2;
$disable: #9e9e9e;
$line-loader-color: #d5d5d5;
$disable-btn: #00000061;

// Templete-list-dropdown
$marketingColor: #2a98fa;
$marketingBackgroundColor: #d9effe;
$marketingBorderColor: #2a98fa;
$utilityColor: #f67133;
$utilityBackgroundColor: #feefe9;
$utilityBorderColor: #fac3a9;
$authenticationColor: #75cc50;
$authenticationBackgroundColor: #e7fedd;
$authenticationBorderColor: #75cc50;

// Signing Button
$signing-button: #3798fa;

// Scroll Bar
$scrollbar-thumb: #e2e9ee;
$scrollbar-thumb-hover: #b2c1cc;
